*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sendIt:hover{
    background-color: black;
    color: white;
}

#date:hover{
    background-color: black;
    color: white;
}

.main *{
    margin: 0 auto;
    width: 400px;
    padding: 25px 0;
    display: block;
    align-items: flex-end;
    justify-content: center;
    padding: 26px 0;
}

video{
    height: 100%vh;
    width: 100%vw;
    position: fixed;
    z-index: -1;
}

#title {
    font-size: 48px;
    width: 550px;
    color: white;
    font-weight: 1000;   
}

#words {
    font-size: 20px;
    width: 500px;
    color: white;
    font-weight: 700;
}

#date {
    padding: 10px 0;
    opacity: .80;
    margin-bottom: 25px;
}

#sendIt {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    width: 100px;
    padding: 15px 0;
    background-color: rgba(255,255,255,0.7);
}

img {
    display: block;
    margin: 0 auto;
    padding: 26px 0;
    opacity: .80;
    width: 50%;
}

#description{
    display: block;
    margin: 0 auto;
    opacity: .70;
    width: 50%;
    color: white;
    background-color: rgba(5,5,5,0.7);
    font-weight: 800;
    visibility: hidden;
}