
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  }
  
h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 600;
  }
  
.main_video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
  }

ul {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  opacity: 0.7;
  }

li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  border: 2px solid black;
  width: 125px;
  height: 125px;
  cursor: pointer;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.527);
  }
