/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
  display: block;
  text-align: center;
  margin: 150px 0;
  background-image: url(../img/Back.jpg);
  color: white;
}

h1, h3 {
  margin: 150px 0;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
