* {
    box-sizing: border-box;
}

h1, h3{
    text-align: center;
}

img{
    display: block;
    height: 300px;
    margin: 0 auto;
}

ul{
    border: 3px solid black;
    list-style: none;
    height: 266px;
    width: 100px;
    margin: 0 auto;
    padding: 0;
}

li{
    height: 65px;
    width: 94px;
}

#purple{
    background-color: purple;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}
#pink{
    background-color: pink;
}